   <link rel="icon" type="image/x-icon" href="favicon.ico">

<div id="background" class="full-screen">
</div>
<div id="side-nav">
    <div id="title">Maplestory Helper</div>
    <app-side-nav-item name="Boss Crystals" url="boss-crystals"></app-side-nav-item>
    <app-side-nav-item name="Useful Resources" url="useful-resources"></app-side-nav-item>
    <app-side-nav-item name="Dailies/Weeklies" url="dailies-weeklies"></app-side-nav-item>
    <app-side-nav-item name="About" url="about"></app-side-nav-item>
</div>
<div id="page">
    <div id="loader"></div>
    <app-header></app-header>
    <router-outlet />
</div>