#background {
    position:fixed;
    background-color: var(--lightgray);
    z-index: -1;
}

#side-nav {
    background-color: var(--darkgray);
    width: var(--maplestory-nav-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
}

#page {
    margin-left: var(--maplestory-nav-width);
}

#title {
    color: var(--white);
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

@media (width <= 800px) {
    #side-nav {
        width: 100vw;
        height: 70px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 10px;
        gap: 10px;
        box-sizing: border-box;
    }

    #title {
        margin-top: 5px;
        margin-bottom: -5px;
        flex: 0 0 100%;
    }
    
    #page {
        margin-left: 0;
    }
}