#background {
    position:fixed;
    background-color: var(--lightgray);
    z-index: -1;
}

#side-nav {
    background-color: var(--darkgray);
    width: var(--maplestory-nav-width);
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 200;
}

#page {
    margin-left: var(--maplestory-nav-width);
}

#title {
    color: var(--white);
    font-size: 1.25rem;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}