<div class="page-container">
    Work in progress
    <!-- <div id="menu" class="panel">
        <div class="header">Visual Sources of IED</div>
        <ng-container [formGroup]="iedForm">
            <table>
                <tr>
                    <th>Source</th>
                    <th>Value</th>
                    <th>Add</th>
                </tr>
                <tr formArrayName="visual" *ngFor="let row of visuals.controls; let i=index">
                    <ng-container [formGroupName]="i">
                        <td [ngClass]="{ 'row-darken': row.value.darken }">{{row.value.source}}</td>
                        <td [ngClass]="{ 'row-darken': row.value.darken }">{{row.value.ied}}%</td>
                        <td [ngClass]="{ 'row-darken': row.value.darken }">
                            <input type="checkbox" formControlName="checked">
                        </td>
                    </ng-container>
                </tr>
            </table>
        </ng-container>
    </div> -->
</div>