<div id="page-projects" class="full-screen">
    <app-header name="Projects"></app-header>
    <div class="center-all">
        <app-project name="New Portfolio Website" description="The new version of my portfolio website I am currently working on." actualLink="https://zydico.github.io/portfolio/" imageUrl="Portfolio.jpg"></app-project>
        <app-project name="Maplestory Helper" description="A collection of tools I developed to aid players in the video game called Maplestory." link="maplestory-helper/boss-crystals" imageUrl="Maplestory Helper.jpg"></app-project>
    </div>
</div>