<div id="page-contact">
    <div id="arrow-container">
        <div id="arrow"></div>
    </div>
    <div class="container center-all">
        <div id="header">Contact Me</div>
        <table>
            <tr>
                <td><b>Email</b></td>
                <td><a href='mai&#108;&#116;o&#58;&#109;&#37;6&#49;%&#55;4%74he%77%68w%6&#49;&#110;g9&#53;&#64;gma&#37;69&#37;6&#67;&#46;&#37;&#54;3om'>ma&#116;thewhwa&#110;g&#57;&#53;&#64;&#103;mai&#108;&#46;com</a></td>
            </tr>
            <tr>
                <td><b>LinkedIn</b></td>
                <td><a href="https://www.linkedin.com/in/matthewhwang95" target="_blank">matthewhwang95</a></td>
            </tr>
            <tr>
                <td><b>Phone #</b></td>
                <td>206&#45;372&#45;0329</td>
            </tr>
        </table>
    </div>
</div>