<div class="page-container">
    <div class="panel">
        Dailies reset in XX:XX at XX:XX PM<br>
        Weekly bosses, Culvert, and Flag reset on XX<br>
        Dojo and Arcane river weeklies reset on XX<br>
        Ursus golden time is between XX:XX PM - XX:XX PM and XX:XX PM - XX:XX PM
    </div>
    <div class="top-container">
        <div class="panel" id="daily-panel">
            <div class="header">Daily Tasks</div>
            <div class="add button">Add Task</div>
            <table>
                <tr>
                    <th>Done</th>
                    <th>Character</th>
                    <th>Task</th>
                </tr>
                <form [formGroup]="dailyForm">
                    @for (row of dailyRows.controls; track row; let i = $index) {
                        <div>
                            test
                        </div>
                        <!-- <div formArrayName="rows">
                            <ng-container [formGroupName]="i">
                                <tr>
                                    <td></td>
                                    <td>An extremely useful website to help you optimize training rotations.</td>
                                    <td></td>
                                </tr>
                            </ng-container>
                        </div> -->
                    }
                </form>
            </table>
        </div>
    </div>
</div>