<div class="page-container">
    <div class="panel">
        If you have any questions or suggestions, you can contact me through:
        <b>
        <br>
        <br>Reddit (Zydico)
        <br>Discord (zydico)
        <br>Email: matthewhwang95&commat;gmail.com
        </b>
        <br>
        <br>...or if you happen to see me in game (GMS Hyperion):
        <br>
        <b>
        <br>Yoìmîya (Mercedes)
        <br>FrostNovâ (Ice/Lightning)
        <br>Hêstiá (Blaze Wizard)
        <br>Yotsuyù (Kanna)
        </b>
    </div>
</div>