<div class="page-container">
    <div class="panel">
        <div class="header">Tools</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Legion Solver</td>
                <td>An extremely useful tool for solving your legion grid.</td>
                <td>Xenogent</td>
                <td><a target="_blank" href="https://xenogents.github.io/LegionSolver/">Link</a></td>
            </tr>
            <tr>
                <td>Flame Tier Calculator</td>
                <td>A tool for finding out the tier of your flames</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/flames">Link</a></td>
            </tr>
            <tr>
                <td>6th Job Calculator</td>
                <td>A calculator to plan out your 6th job (Sol Erda and Fragments)</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/6th-job">Link</a></td>
            </tr>
            <tr>
                <td>Starforce Calculator</td>
                <td>An extremely useful tool for calculating expected Meso costs and booms when starforcing.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/cubingCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Cubing/Potential Calculator</td>
                <td>An extremely useful tool for calculating expected costs when cubing.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/cubingCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Inner Ability Calculator</td>
                <td>An extremely useful tool for calculating expected costs when rolling your inner ability.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/innerAbilityCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Flaming Calculator</td>
                <td>An extremely useful tool for calculating expected costs when rolling your equipment flame.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/flameCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Hyper Stat Calculator</td>
                <td>A tool that assists in optimizing your hyper stats.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/hyperCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Maple Meta Calculator</td>
                <td>A very comprehensive tool for optimizing your characters.</td>
                <td></td>
                <td><a target="_blank" href="https://www.patreon.com/MetaCalc">Link</a></td>
            </tr>
            <tr>
                <td>Maple Scouter</td>
                <td>A website that helps you optimize your character and find out which bosses you can clear.</td>
                <td></td>
                <td><a target="_blank" href="https://maplescouter.com/">Link</a></td>
            </tr>
            <tr>
                <td>Training rotation lookup</td>
                <td>A website that helps you find a training rotation for a specific class.</td>
                <td></td>
                <td><a target="_blank" href="https://gooeyazn.github.io/kms_searching/">Link</a></td>
            </tr>
        </table>
        <div class="header">Class/Job Information</div>
        <table>
            <tr>
                <th>Job</th>
                <th>Infographic</th>
                <th>Guide</th>
                <th>Discord</th>
            </tr>
            <tr>
                <td>Adele</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/q7tYdfT">Link</a></td>
            </tr>
            <tr>
                <td>Angelic Buster</td>
                <td><a target="_blank" href="Infographics/Angelic Buster.png">Link</a> (7/1/2024)</td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/angelicbuster">Link</a></td>
            </tr>
            <tr>
                <td>Aran</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/tdKzgaP4ks">Link</a></td>
            </tr>
            <tr>
                <td>Ark</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/ZvPTz6v">Link</a></td>
            </tr>
            <tr>
                <td>Battle Mage</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/HsTgS8svrf">Link</a></td>
            </tr>
            <tr>
                <td>Bishop</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/11OaoVNl-VacN7XncfLWJxlHmAIePB10fhwWNT8WVf38/edit#heading=h.4zwjkno7qfl0">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/PX2v4BV3Qp">Link</a></td>
            </tr>
            <tr>
                <td>Blaster</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/QXvbNp8zqu">Link</a></td>
            </tr>
            <tr>
                <td>Blaze Wizard</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1YB3rBntxbUngJ5BnCTG19SqW1LfoPos6pfS-r5gaU1s/edit?usp=sharing">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/gTuaWGrcvV">Link</a></td>
            </tr>
            <tr>
                <td>Bowmaster</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/YJqyRYxWV3">Link</a></td>
            </tr>
            <tr>
                <td>Buccaneer</td>
                <td><a target="_blank" href="Infographics/Buccaneer.png">Link</a> (8/4/2023)</td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1M1jTSVxLkmXLbt1Dpwh9yP3D7yO7SIL5FWD6HCFweAo/edit#heading=h.46rvieqilvy1">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/YJqyRYxWV3">Link</a></td>
            </tr>
            <tr>
                <td>Cadena</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/5rKRYYCA4v">Link</a></td>
            </tr>
            <tr>
                <td>Cannoneer</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/QxWvMvrcR6">Link</a></td>
            </tr>
            <tr>
                <td>Corsair</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/JWBXPGS9aY">Link</a></td>
            </tr>
            <tr>
                <td>Dark Knight</td>
                <td><a target="_blank" href="Infographics/Dark Knight.jpg">Link</a> (12/30/2023)</td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/N36cqyAVfa">Link</a></td>
            </tr>
            <tr>
                <td>Dawn Warrior</td>
                <td><a target="_blank" href="Infographics/Dawn Warrior.png">Link</a> (11/22/2022)</td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1iQfiF7q78bmZtBujnLcAkDNDjqiHqm7iZ2QjUfKRd-g/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/WMGahCmmWT">Link</a></td>
            </tr>
            <tr>
                <td>Demon Avenger</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/aTByagnDjd">Link</a></td>
            </tr>
            <tr>
                <td>Demon Slayer</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/XpJA3u8Scd">Link</a></td>
            </tr>
            <tr>
                <td>Dual Blade</td>
                <td><a target="_blank" href="Infographics/Dual Blade.png">Link</a> (3/6/2023)</td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/2yqrcnT8Xk">Link</a></td>
            </tr>
            <tr>
                <td>Evan</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/5BfVGGD">Link</a></td>
            </tr>
            <tr>
                <td>Fire/Poison</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/PX2v4BV3Qp">Link</a></td>
            </tr>
            <tr>
                <td>Hayato</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/EAkfmrx">Link</a></td>
            </tr>
            <tr>
                <td>Hero</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/dsdSz9CGJE">Link</a></td>
            </tr>
            <tr>
                <td>Hoyoung</td>
                <td><a target="_blank" href="Infographics/Hoyoung.png">Link</a> (1/2/2024)</td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Ice/Lightning</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1TCEKlUA-QML0zee3x2azuLD7O8stC44CJbzUr3BUEyQ/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/PX2v4BV3Qp">Link</a></td>
            </tr>
            <tr>
                <td>Illium</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/KxJ3DGuBsf">Link</a></td>
            </tr>
            <tr>
                <td>Kain</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/Udtx9E9QYr">Link</a></td>
            </tr>
            <tr>
                <td>Kaiser</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/DGHZJ8s">Link</a></td>
            </tr>
            <tr>
                <td>Kanna</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1Xp7JD_YEDGyZD613QT7BGXO1kOtF2ze1E2hUDSkuxSc/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/zbH8e2xC7H">Link</a></td>
            </tr>
            <tr>
                <td>Khali</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/an6dkrgXTr">Link</a></td>
            </tr>
            <tr>
                <td>Kinesis</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/yua4VdQWFw">Link</a></td>
            </tr>
            <tr>
                <td>Lara</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/g33kJR5yWH">Link</a></td>
            </tr>
            <tr>
                <td>Luminous</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/KBpPTtae6P">Link</a></td>
            </tr>
            <tr>
                <td>Lynn</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/czcga75tHQ">Link</a></td>
            </tr>
            <tr>
                <td>Marksman</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/BYvnXkz9cv">Link</a></td>
            </tr>
            <tr>
                <td>Mercedes</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1Sz5rdODR3cgaw3WcfjjVN_OBQV2298vc_kVyFOfdh_8/edit?usp=sharing">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/tJWfMrdFBJ">Link</a></td>
            </tr>
            <tr>
                <td>Mechanic</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/JenpnsgHBc">Link</a></td>
            </tr>
            <tr>
                <td>Mihile</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/6SPVvZRWJM">Link</a></td>
            </tr>
            <tr>
                <td>Night Walker</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/FR55ADj">Link</a></td>
            </tr>
            <tr>
                <td>Night Lord</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/AvP8wq4">Link</a></td>
            </tr>
            <tr>
                <td>Paladin</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/7qyGfmtRt2">Link</a></td>
            </tr>
            <tr>
                <td>Pathfinder</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/4PgsVs8gNZ">Link</a></td>
            </tr>
            <tr>
                <td>Phantom</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/225H7sw">Link</a></td>
            </tr>
            <tr>
                <td>Shade</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/G86EwxDbv6">Link</a></td>
            </tr>
            <tr>
                <td>Shadower</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/3NKFYxR2T3">Link</a></td>
            </tr>
            <tr>
                <td>Thunder Breaker</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="http://discord.gg/ewyWwFQ">Link</a></td>
            </tr>
            <tr>
                <td>Wild Hunter</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/3evaYBDwAG">Link</a></td>
            </tr>
            <tr>
                <td>Wind Archer</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1oqZegwzp5pzOArQ_NKYpoYZTxkV_8kq_3W_EQ8SzSDc/edit">Link</a></td>
                <td><a target="_blank" href="http://discord.gg/MDuDrDveum">Link</a></td>
            </tr>
            <tr>
                <td>Xenon</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/4BCGuCC">Link</a></td>
            </tr>
            <tr>
                <td>Zero</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/wFAHprps3Z">Link</a></td>
            </tr>
        </table>
        <div class="header">General Information</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Maplestory Wiki</td>
                <td>The new and updated wiki page (not Fandom).</td>
                <td></td>
                <td><a target="_blank" href="https://maplestorywiki.net/w/MapleStory_Wiki">Link</a></td>
            </tr>
            <tr>
                <td>Maplestory Official Discord Server</td>
                <td>The official Maplestory Discord server.</td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/maplestory">Link</a></td>
            </tr>
            <tr>
                <td>Reboot Central</td>
                <td>A very helpful server for Reboot players. Recommended over the official server.</td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/8Z6eGYFgPk">Link</a></td>
            </tr>
            <tr>
                <td>Reboot Gear Guide</td>
                <td>A google slide detailing general gear progression.</td>
                <td><a target="_blank" href="https://www.twitch.tv/satsivi">Satsivi</a></td>
                <td><a target="_blank" href="https://docs.google.com/presentation/d/1cvwscy79thl_jahbjQlw60KzIiEEYUFd7gBwqajACfY/edit#slide=id.p">Link</a></td>
            </tr>
            <tr>
                <td>Familiar Guide</td>
                <td>A google doc detailing the familiar system and recommended badges.</td>
                <td><a target="_blank" href="https://www.twitch.tv/pocketstream">Pocketstream</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1-H34Koq8HH7yJCRwEA47yQRMJVlwRKI1r1HCFeqNZMs/edit">Link</a></td>
            </tr>
            <tr>
                <td>Monster Collection Guide</td>
                <td>A comprehensive guide to Monster Collection.</td>
                <td><a target="_blank" href="https://www.reddit.com/user/JuddtheStormcaster/">JuddStorm</a></td>
                <td><a target="_blank" href="https://dexless.com/guides/a-comprehensive-guide-to-monster-collection.333/">Link</a></td>
            </tr>
            <tr>
                <td>Scrapyard Rerolling Guide</td>
                <td>A google sheet with information on which Scrapyard weeklies you should probably reroll.</td>
                <td><a target="_blank" href="https://www.reddit.com/user/GyroBallMetagross">GyroBallMetagross</a></td>
                <td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1FJcMQHfhsDNsRQW_KhrmR3uyWmudv8e8Y_nY5uawKAg/edit?gid=0#gid=0">Link</a></td>
            </tr>
            <tr>
                <td>Ninja Castle Guide</td>
                <td>A google sheet to assist in doing Ninja Castle.</td>
                <td><a target="_blank" href="https://www.reddit.com/user/Rexaar2">Rexaar2</a></td>
                <td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1i7JcNW08Ck0rtF1cFywrS1rRefMFzPuB32VdrQtSHqM/edit?gid=0#gid=0">Link</a></td>
            </tr>
            <tr>
                <td>Souls Tier List</td>
                <td>A tier list for weapon souls.</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/info/soul-tier-list">Link</a></td>
            </tr>
            <tr>
                <td>Everything EXP</td>
                <td>Everything that has to do with EXP</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/everything-exp">Link</a></td>
            </tr>
            <tr>
                <td>EXP Ticket / Event Minigame EXP Table</td>
                <td>A google sheet with information on how much EXP you will get using EXP tickets or from event minigames.</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1XqLbZndEF2qirccb5bBRRd6ssql2Pea1WI7szvLtI6Y/edit?gid=1899536689#gid=1899536689">Link</a></td>
            </tr>
            <tr>
                <td>Everything Symbols</td>
                <td>Everything that has to do with Symbols</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/symbols">Link</a></td>
            </tr>
        </table>
        <div class="header">Fashion</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Maplestory Character Simulator</td>
                <td>A website to help you plan out your character's look.</td>
                <td></td>
                <td><a target="_blank" href="https://maplestory.studio/">Link</a></td>
            </tr>
            <tr>
                <td>Maplestory Hair/Face Mix Previewer</td>
                <td>A website to preview color combinations for mix coupons.</td>
                <td>丫村</td>
                <td><a target="_blank" href="https://maplesalon.vercel.app/en">Link</a></td>
            </tr>
            <tr>
                <td>Damage Skins</td>
                <td>A website to preview damage skins</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/info/damage-skins/new">Link</a></td>
            </tr>
        </table>
    </div>
</div>