<div class="maplestory-page-container">
    <div class="maplestory-panel">
        <div class="header">Tools</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Legion Solver</td>
                <td>An extremely useful tool for solving your legion grid.</td>
                <td>Xenogent</td>
                <td><a target="_blank" href="https://xenogents.github.io/LegionSolver/">Link</a></td>
            </tr>
            <tr>
                <td>Flame Tier Calculator</td>
                <td>A tool for finding out the tier of your flames</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/flames">Link</a></td>
            </tr>
            <tr>
                <td>6th Job Calculator</td>
                <td>A calculator to plan out your 6th job (Sol Erda and Fragments)</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/6th-job">Link</a></td>
            </tr>
            <tr>
                <td>Starforce Calculator</td>
                <td>An extremely useful tool for calculating expected Meso costs and booms when starforcing.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/cubingCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Cubing/Potential Calculator</td>
                <td>An extremely useful tool for calculating expected costs when cubing.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/cubingCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Inner Ability Calculator</td>
                <td>An extremely useful tool for calculating expected costs when rolling your inner ability.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/innerAbilityCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Flaming Calculator</td>
                <td>An extremely useful tool for calculating expected costs when rolling your equipment flame.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/flameCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Hyper Stat Calculator</td>
                <td>A tool that assists in optimizing your hyper stats.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/hyperCalculator/">Link</a></td>
            </tr>
        </table>
        <div class="header">Class/Job Information</div>
        <table>
            <tr>
                <th>Job</th>
                <th>Infographic</th>
                <th>Guide</th>
                <th>Discord</th>
            </tr>
            <tr>
                <td>Adele</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/q7tYdfT">Link</a></td>
            </tr>
            <tr>
                <td>Angelic Buster</td>
                <td><a target="_blank" href="https://cdn.discordapp.com/attachments/1122634306590888007/1257515815016861747/ftt9lj9to39d1.png?ex=668e939d&is=668d421d&hm=aa75da5987bd76b3fa638b9bc2da8dc9bfc9d9658203ebb2526437b36872a756&">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/angelicbuster">Link</a></td>
            </tr>
            <tr>
                <td>Aran</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/tdKzgaP4ks">Link</a></td>
            </tr>
            <tr>
                <td>Ark</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/ZvPTz6v">Link</a></td>
            </tr>
            <tr>
                <td>Battle Mage</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/HsTgS8svrf">Link</a></td>
            </tr>
            <tr>
                <td>Lynn</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/czcga75tHQ">Link</a></td>
            </tr>
            <tr>
                <td>Bishop</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/11OaoVNl-VacN7XncfLWJxlHmAIePB10fhwWNT8WVf38/edit#heading=h.4zwjkno7qfl0">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/PX2v4BV3Qp">Link</a></td>
            </tr>
            <tr>
                <td>Blaster</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/QXvbNp8zqu">Link</a></td>
            </tr>
            <tr>
                <td>Blaze Wizard</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1YB3rBntxbUngJ5BnCTG19SqW1LfoPos6pfS-r5gaU1s/edit?usp=sharing">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/gTuaWGrcvV">Link</a></td>
            </tr>
            <tr>
                <td>Bowmaster</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/YJqyRYxWV3">Link</a></td>
            </tr>
            <tr>
                <td>Buccaneer</td>
                <td><a target="_blank" href="https://cdn.discordapp.com/attachments/559443249463296000/1136917831313797250/bucclulv2.png?ex=668edb7d&is=668d89fd&hm=779e2332be474d783eea1dce66dbd8729fd41d2180d01f7cabd1d06e9f416cfb&">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1M1jTSVxLkmXLbt1Dpwh9yP3D7yO7SIL5FWD6HCFweAo/edit#heading=h.46rvieqilvy1">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/YJqyRYxWV3">Link</a></td>
            </tr>
            <tr>
                <td>Cadena</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/5rKRYYCA4v">Link</a></td>
            </tr>
            <tr>
                <td>Cannoneer</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/QxWvMvrcR6">Link</a></td>
            </tr>
            <tr>
                <td>Corsair</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/JWBXPGS9aY">Link</a></td>
            </tr>
            <tr>
                <td>Dark Knight</td>
                <td><a target="_blank" href="https://cdn.discordapp.com/attachments/920609141930754068/1190764220153876611/Banner_B_V02.jpg?ex=668e5059&is=668cfed9&hm=dbd00553f91ead4991984f069adb4958c852b214fc448eec0e1f3471eb1a984b&">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/N36cqyAVfa">Link</a></td>
            </tr>
            <tr>
                <td>Dawn Warrior</td>
                <td><a target="_blank" href="">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1iQfiF7q78bmZtBujnLcAkDNDjqiHqm7iZ2QjUfKRd-g/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/WMGahCmmWT">Link</a></td>
            </tr>
            <tr>
                <td>Demon Avenger</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/aTByagnDjd">Link</a></td>
            </tr>
            <tr>
                <td>Demon Slayer</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/XpJA3u8Scd">Link</a></td>
            </tr>
            <tr>
                <td>Dual Blade</td>
                <td><a target="_blank" href="https://cdn.discordapp.com/attachments/1082239363888463982/1082242825883758653/DB_Infogram.png?ex=668e5d2c&is=668d0bac&hm=6e5d2b48c07c7eddf637f5e653f841f9d3f6d6d5d6a9e9ad903ed9f7cba73044&">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/2yqrcnT8Xk">Link</a></td>
            </tr>
            <tr>
                <td>Evan</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/5BfVGGD">Link</a></td>
            </tr>
            <tr>
                <td>Fire/Poison</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/PX2v4BV3Qp">Link</a></td>
            </tr>
            <tr>
                <td>Hayato</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/EAkfmrx">Link</a></td>
            </tr>
            <tr>
                <td>Hero</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/dsdSz9CGJE">Link</a></td>
            </tr>
            <tr>
                <td>Hoyoung</td>
                <td><a target="_blank" href="https://cdn.discordapp.com/attachments/647015374801469451/1191753233002139709/hy6.png?ex=668e9db0&is=668d4c30&hm=dc8caeec4114d850ca3acec313387125cfedd6092ac5c339f3c5286b1e5dae17&">Link</a></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Ice/Lightning</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1TCEKlUA-QML0zee3x2azuLD7O8stC44CJbzUr3BUEyQ/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/PX2v4BV3Qp">Link</a></td>
            </tr>
            <tr>
                <td>Illium</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/KxJ3DGuBsf">Link</a></td>
            </tr>
            <tr>
                <td>Kain</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/Udtx9E9QYr">Link</a></td>
            </tr>
            <tr>
                <td>Kaiser</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/DGHZJ8s">Link</a></td>
            </tr>
            <tr>
                <td>Kanna</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/zbH8e2xC7H">Link</a></td>
            </tr>
            <tr>
                <td>Khali</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/an6dkrgXTr">Link</a></td>
            </tr>
            <tr>
                <td>Kinesis</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/yua4VdQWFw">Link</a></td>
            </tr>
            <tr>
                <td>Lara</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/g33kJR5yWH">Link</a></td>
            </tr>
            <tr>
                <td>Luminous</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/KBpPTtae6P">Link</a></td>
            </tr>
            <tr>
                <td>Marksman</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/BYvnXkz9cv">Link</a></td>
            </tr>
            <tr>
                <td>Mercedes</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1Sz5rdODR3cgaw3WcfjjVN_OBQV2298vc_kVyFOfdh_8/edit?usp=sharing">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/tJWfMrdFBJ">Link</a></td>
            </tr>
            <tr>
                <td>Mechanic</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/JenpnsgHBc">Link</a></td>
            </tr>
            <tr>
                <td>Mihile</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/6SPVvZRWJM">Link</a></td>
            </tr>
            <tr>
                <td>Night Walker</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/FR55ADj">Link</a></td>
            </tr>
            <tr>
                <td>Night Lord</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/AvP8wq4">Link</a></td>
            </tr>
            <tr>
                <td>Paladin</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/7qyGfmtRt2">Link</a></td>
            </tr>
            <tr>
                <td>Pathfinder</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/4PgsVs8gNZ">Link</a></td>
            </tr>
            <tr>
                <td>Phantom</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/225H7sw">Link</a></td>
            </tr>
            <tr>
                <td>Shade</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/G86EwxDbv6">Link</a></td>
            </tr>
            <tr>
                <td>Shadower</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/3NKFYxR2T3">Link</a></td>
            </tr>
            <tr>
                <td>Thunder Breaker</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="http://discord.gg/ewyWwFQ">Link</a></td>
            </tr>
            <tr>
                <td>Wild Hunter</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/3evaYBDwAG">Link</a></td>
            </tr>
            <tr>
                <td>Wind Archer</td>
                <td></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1oqZegwzp5pzOArQ_NKYpoYZTxkV_8kq_3W_EQ8SzSDc/edit">Link</a></td>
                <td><a target="_blank" href="http://discord.gg/MDuDrDveum">Link</a></td>
            </tr>
            <tr>
                <td>Xenon</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/4BCGuCC">Link</a></td>
            </tr>
            <tr>
                <td>Zero</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/wFAHprps3Z">Link</a></td>
            </tr>
        </table>
        <div class="header">General Information</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Maplestory Wiki</td>
                <td>The new and updated wiki page (not Fandom).</td>
                <td></td>
                <td><a target="_blank" href="https://maplestorywiki.net/w/MapleStory_Wiki">Link</a></td>
            </tr>
            <tr>
                <td>Maplestory Official Discord Server</td>
                <td>The official Maplestory Discord server.</td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/maplestory">Link</a></td>
            </tr>
            <tr>
                <td>Reboot Central</td>
                <td>A very helpful server for Reboot players. Recommended over the official server.</td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/8Z6eGYFgPk">Link</a></td>
            </tr>
            <tr>
                <td>Reboot Gear Guide</td>
                <td>A google slide detailing general gear progression.</td>
                <td><a target="_blank" href="https://www.twitch.tv/satsivi">Satsivi</a></td>
                <td><a target="_blank" href="https://docs.google.com/presentation/d/1cvwscy79thl_jahbjQlw60KzIiEEYUFd7gBwqajACfY/edit#slide=id.p">Link</a></td>
            </tr>
            <tr>
                <td>Familiar Guide</td>
                <td>A google doc detailing the familiar system and recommended badges.</td>
                <td><a target="_blank" href="https://www.twitch.tv/pocketstream">Pocketstream</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1-H34Koq8HH7yJCRwEA47yQRMJVlwRKI1r1HCFeqNZMs/edit">Link</a></td>
            </tr>
            <tr>
                <td>Monster Collection Guide</td>
                <td>A comprehensive guide to Monster Collection.</td>
                <td><a target="_blank" href="https://www.reddit.com/user/JuddtheStormcaster/">JuddStorm</a></td>
                <td><a target="_blank" href="https://dexless.com/guides/a-comprehensive-guide-to-monster-collection.333/">Link</a></td>
            </tr>
            <tr>
                <td>Scrapyard Rerolling Guide</td>
                <td>A google sheet with information on which Scrapyard weeklies you should probably reroll.</td>
                <td><a target="_blank" href="https://www.reddit.com/user/GyroBallMetagross">GyroBallMetagross</a></td>
                <td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1FJcMQHfhsDNsRQW_KhrmR3uyWmudv8e8Y_nY5uawKAg/edit?gid=0#gid=0">Link</a></td>
            </tr>
            <tr>
                <td>Ninja Castle Guide</td>
                <td>A google sheet to assist in doing Ninja Castle.</td>
                <td><a target="_blank" href="https://www.reddit.com/user/Rexaar2">Rexaar2</a></td>
                <td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1i7JcNW08Ck0rtF1cFywrS1rRefMFzPuB32VdrQtSHqM/edit?gid=0#gid=0">Link</a></td>
            </tr>
            <tr>
                <td>Souls Tier List</td>
                <td>A tier list for weapon souls.</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/info/soul-tier-list">Link</a></td>
            </tr>
            <tr>
                <td>Everything EXP</td>
                <td>Everything that has to do with EXP</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/everything-exp">Link</a></td>
            </tr>
            <tr>
                <td>Everything Symbols</td>
                <td>Everything that has to do with Symbols</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/symbols">Link</a></td>
            </tr>
        </table>
        <div class="header">Fashion</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
            <tr>
                <td>Maplestory Character Simulator</td>
                <td>A website to help you plan out your character's look.</td>
                <td></td>
                <td><a target="_blank" href="https://maplestory.studio/">Link</a></td>
            </tr>
            <tr>
                <td>Maplestory Hair/Face Mix Previewer</td>
                <td>A website to preview color combinations for mix coupons.</td>
                <td>丫村</td>
                <td><a target="_blank" href="https://maplesalon.vercel.app/en">Link</a></td>
            </tr>
            <tr>
                <td>Damage Skins</td>
                <td>A website to preview damage skins</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/info/damage-skins/new">Link</a></td>
            </tr>
        </table>
    </div>
</div>