<div class="page-container">
    <div class="panel">
        <div class="header">Tools</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
            <tr>
                <td><b>Maple Scouter</b></td>
                <td>A website that helps you optimize your character and find out which bosses you can clear.</td>
                <td></td>
                <td><a target="_blank" href="https://maplescouter.com/">Link</a></td>
            </tr>
            <tr>
                <td><b>MapleMaps</b></td>
                <td>An extremely useful website to help you optimize training rotations.</td>
                <td></td>
                <td><a target="_blank" href="https://maplemaps.net/">Link</a></td>
            </tr>
            <tr>
                <td><b>Legion Solver</b></td>
                <td>An extremely useful tool for solving your legion grid.</td>
                <td>Xenogent</td>
                <td><a target="_blank" href="https://xenogents.github.io/LegionSolver/">Link</a></td>
            </tr>
            <tr>
                <td><b>Starforce Calculator</b></td>
                <td>An extremely useful tool for calculating expected Meso costs and booms when starforcing.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/starforceCalculator/">Link</a></td>
            </tr>
            <tr>
                <td><b>Cubing/Potential Calculator</b></td>
                <td>An extremely useful tool for calculating expected costs when cubing.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/cubingCalculator/">Link</a></td>
            </tr>
            <tr>
                <td><b>Inner Ability Calculator</b></td>
                <td>An extremely useful tool for calculating expected costs when rolling your inner ability.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/innerAbilityCalculator/">Link</a></td>
            </tr>
            <tr>
                <td><b>Flaming Calculator</b></td>
                <td>An extremely useful tool for calculating expected costs when rolling your equipment flame.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/flameCalculator/">Link</a></td>
            </tr>
            <tr>
                <td><b>Flame Tier Calculator</b></td>
                <td>A tool for finding out the tier of your flames</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://www.whackybeanz.com/calc/equips/flames">Link</a></td>
            </tr>
            <tr>
                <td>Hyper Stat Calculator</td>
                <td>A tool that assists in optimizing your hyper stats.</td>
                <td>MathBro</td>
                <td><a target="_blank" href="https://brendonmay.github.io/hyperCalculator/">Link</a></td>
            </tr>
            <tr>
                <td>Maple Meta Calculator</td>
                <td>A very comprehensive tool for optimizing your characters.</td>
                <td></td>
                <td><a target="_blank" href="https://www.patreon.com/MetaCalc">Link</a></td>
            </tr>
            <tr>
                <td>KMS Training Lookup</td>
                <td>A website to help you find training rotations.</td>
                <td></td>
                <td><a target="_blank" href="https://gooeyazn.github.io/kms_searching/">Link</a></td>
            </tr>
        </table>
        <div class="header">General Information</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
            <tr>
                <td><b>Maplestory Wiki</b></td>
                <td>The new and updated wiki page (not Fandom).</td>
                <td></td>
                <td><a target="_blank" href="https://maplestorywiki.net/w/MapleStory_Wiki">Link</a></td>
            </tr>
            <tr>
                <td><b>Reboot Central Discord Server</b></td>
                <td>A very helpful Discord server for Reboot players. Personally recommended over the official server.</td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/8Z6eGYFgPk">Link</a></td>
            </tr>
            <tr>
                <td><b>OrangeMushroom Blog</b></td>
                <td>A blog with information on KMS changes (potential future GMS changes).</td>
                <td>Max</td>
                <td><a target="_blank" href="https://orangemushroom.net/">Link</a></td>
            </tr>
            <tr class="boss">
                <td><b>Useful Boss Information</b></td>
                <td>A useful table for bossing requirements.</td>
                <td></td>
                <td><a target="_blank" href="Infographics/Boss Information.png">Link</a></td>
            </tr>
            <tr>
                <td><b>Damage Modifier (levels)</b></td>
                <td>FD% gain/loss relative to enemy level</td>
                <td>Strategywiki</td>
                <td><a target="_blank" href="https://strategywiki.org/wiki/MapleStory/Formulas#Level_Advantage_Multiplier">Link</a></td>
            </tr>
            <tr>
                <td><b>EXP Modifier (levels)</b></td>
                <td>Exp gain/loss relative to enemy level</td>
                <td>Strategywiki</td>
                <td><a target="_blank" href="https://strategywiki.org/wiki/MapleStory/Formulas#Level_Advantage">Link</a></td>
            </tr>
            <tr>
                <td><b>Meso Modifier (levels)</b></td>
                <td>Meso gain/loss relative to enemy level</td>
                <td>Strategywiki</td>
                <td><a target="_blank" href="https://strategywiki.org/wiki/MapleStory/Formulas#Level_Difference_Penalty">Link</a></td>
            </tr>
            <tr>
                <td>Maple Legion Discord Server</td>
                <td>Discord server for information and links for every class.</td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/maple-legion-862672763404025896">Link</a></td>
            </tr>
            <tr>
                <td>Maplestory Official Discord Server</td>
                <td>The official Maplestory Discord server.</td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/maplestory">Link</a></td>
            </tr>
            <tr>
                <td>Reboot/Heroic New Player Guide</td>
                <td>A very comprehensive new player guide.</td>
                <td><a target="_blank" href="https://www.reddit.com/r/Maplestory/comments/1hjrmn3/heroic_server_guide_for_beginners_updated_for_v256/">Altorem</a></td>
                <td><a target="_blank" href="https://docs.google.com/presentation/d/1qhdHK0GNK3qoKZUe_27yFWQ2hMAZy-ovkICKsH1-f2c/edit">Link</a></td>
            </tr>
            <tr>
                <td>Reboot/Heroic Gear Guide</td>
                <td>A google slide detailing general gear progression.</td>
                <td><a target="_blank" href="https://www.twitch.tv/satsivi">Satsivi</a></td>
                <td><a target="_blank" href="https://docs.google.com/presentation/d/1cvwscy79thl_jahbjQlw60KzIiEEYUFd7gBwqajACfY/edit#slide=id.p">Link</a></td>
            </tr>
            <tr>
                <td>Familiar Guide</td>
                <td>A google doc detailing the familiar system and recommended badges.</td>
                <td><a target="_blank" href="https://www.twitch.tv/pocketstream">Pocketstream</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1-H34Koq8HH7yJCRwEA47yQRMJVlwRKI1r1HCFeqNZMs/edit">Link</a></td>
            </tr>
            <tr>
                <td>Monster Collection Guide</td>
                <td>A comprehensive guide to Monster Collection.</td>
                <td><a target="_blank" href="https://www.reddit.com/user/JuddtheStormcaster/">JuddStorm</a></td>
                <td><a target="_blank" href="https://dexless.com/guides/a-comprehensive-guide-to-monster-collection.333/">Link</a></td>
            </tr>
            <tr>
                <td>Scrapyard Rerolling Guide</td>
                <td>A google sheet with information on which Scrapyard weeklies you should probably reroll.</td>
                <td><a target="_blank" href="https://www.reddit.com/user/GyroBallMetagross">GyroBallMetagross</a></td>
                <td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1FJcMQHfhsDNsRQW_KhrmR3uyWmudv8e8Y_nY5uawKAg/edit?gid=0#gid=0">Link</a></td>
            </tr>
            <tr>
                <td>Ninja Castle Guide</td>
                <td>A google sheet to assist in doing Ninja Castle.</td>
                <td><a target="_blank" href="https://www.reddit.com/user/Rexaar2">Rexaar2</a></td>
                <td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1i7JcNW08Ck0rtF1cFywrS1rRefMFzPuB32VdrQtSHqM/edit?gid=0#gid=0">Link</a></td>
            </tr>
            <tr>
                <td>Everything EXP</td>
                <td>Everything that has to do with EXP</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/everything-exp">Link</a></td>
            </tr>
            <tr>
                <td>EXP Ticket / Event Minigame EXP Table</td>
                <td>A google sheet with information on how much EXP you will get using EXP tickets or from event minigames.</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://docs.google.com/spreadsheets/d/1XqLbZndEF2qirccb5bBRRd6ssql2Pea1WI7szvLtI6Y/edit?gid=1899536689#gid=1899536689">Link</a></td>
            </tr>
            <tr>
                <td>Everything Symbols</td>
                <td>Everything that has to do with Symbols</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/calc/symbols">Link</a></td>
            </tr>
            <tr class="weekly">
                <td>Hungry Muto Cheat Sheet</td>
                <td>A list of recipes for Hungry Muto.</td>
                <td></td>
                <td><a target="_blank" href="Infographics/HungryMuto.png">Link</a></td>
            </tr>
            <tr class="weekly">
                <td>Midnight Chaser Tool</td>
                <td>Useful tool for Midnight Chaser.</td>
                <td><a target="_blank" href="https://www.reddit.com/r/Maplestory/comments/149tkbq/midnight_chaser_tool/">PeanutNubz</a></td>
                <td><a target="_blank" href="https://jsfiddle.net/ag7d3fmh/">Link</a></td>
            </tr>
            <tr class="weekly">
                <td>Esfera Guardian Cheat Sheet</td>
                <td>An image to help you quickly complete Esfera Guardian.</td>
                <td></td>
                <td><a target="_blank" href="Infographics/Esfera.png">Link</a></td>
            </tr>
            <tr class="boss">
                <td>Kaling Gauge Balancing Infographic</td>
                <td>An infographic to help with the balancing of the color gauge.</td>
                <td><a target="_blank" href="https://www.reddit.com/r/Maplestory/comments/17zg6iz/kaling_seasons_string_balancing_infographic/">Kojow</a></td>
                <td><a target="_blank" href="https://i.redd.it/ey1zhrarif1c1.png">Link</a></td>
            </tr>
            <tr class="boss">
                <td>Black Mage Guide</td>
                <td>A comprehensive google doc guide for Black Mage</td>
                <td><a target="_blank" href="https://www.reddit.com/r/Maplestory/comments/gzd3nz/indepth_black_mage_guide/">Cruel, Bane, and Pinkberry</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1DGmZJC10VO3Je9BJ-P_61OTZna8N4llFdOd-HOuMYsg/edit?tab=t.0">Link</a></td>
            </tr>
        </table>
        <div class="header">Class/Job Information</div>
        <table>
            <tr>
                <th class="sticky">Job</th>
                <th class="sticky">Infographic</th>
                <th class="sticky">Guide</th>
                <th class="sticky">Discord</th>
            </tr>
            <tr>
                <td>Adele</td>
                <td><a target="_blank" href="Infographics/Adele.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1FYhaPrUcSZtJM19-oxnKyVocewpHro9w3pTkwg3IiKU/edit#heading=h.iimllcr8j4p6">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/q7tYdfT">Link</a></td>
            </tr>
            <tr>
                <td>Angelic Buster</td>
                <td><a target="_blank" href="Infographics/Angelic Buster.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/angelicbuster">Link</a></td>
            </tr>
            <tr>
                <td>Aran</td>
                <td><a target="_blank" href="Infographics/Aran.jpg">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/tdKzgaP4ks">Link</a></td>
            </tr>
            <tr>
                <td>Ark</td>
                <td><a target="_blank" href="Infographics/Ark.jpg">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1fA0jEOp5pUikqDUht0GadFPTzhxYTWZTVO_rNkz9erQ/edit?tab=t.0#heading=h.6v88f7gdlhsv">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/ZvPTz6v">Link</a></td>
            </tr>
            <tr>
                <td>Battle Mage</td>
                <td><a target="_blank" href="Infographics/Battle Mage.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1GSP16fN2SZC0f7StnHpyzxk_90NjTL337LkwbC_9yfM/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/HsTgS8svrf">Link</a></td>
            </tr>
            <tr>
                <td>Bishop</td>
                <td><a target="_blank" href="Infographics/Bishop.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/11OaoVNl-VacN7XncfLWJxlHmAIePB10fhwWNT8WVf38/edit#heading=h.4zwjkno7qfl0">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/PX2v4BV3Qp">Link</a></td>
            </tr>
            <tr>
                <td>Blaster</td>
                <td><a target="_blank" href="Infographics/Blaster.png">Link</a></td>
                <td><a target="_blank" href="https://www.youtube.com/watch?v=NSyr9Xdylik">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/QXvbNp8zqu">Link</a></td>
            </tr>
            <tr>
                <td>Blaze Wizard</td>
                <td><a target="_blank" href="Infographics/Blaze Wizard.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1YB3rBntxbUngJ5BnCTG19SqW1LfoPos6pfS-r5gaU1s/edit?usp=sharing">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/gTuaWGrcvV">Link</a></td>
            </tr>
            <tr>
                <td>Bowmaster</td>
                <td><a target="_blank" href="Infographics/Bowmaster.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/14Ob3MKysPnv7aQ31uLm0SkBLpKZSSjKRuwh_2nn28HE/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/YJqyRYxWV3">Link</a></td>
            </tr>
            <tr>
                <td>Buccaneer</td>
                <td><a target="_blank" href="Infographics/Buccaneer.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1M1jTSVxLkmXLbt1Dpwh9yP3D7yO7SIL5FWD6HCFweAo/edit#heading=h.46rvieqilvy1">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/YJqyRYxWV3">Link</a></td>
            </tr>
            <tr>
                <td>Cadena</td>
                <td><a target="_blank" href="Infographics/Cadena.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1mpmXgE5pWITvp3OHlV0LTmekFiXoZr4Zdb8X_Kv2i14/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/5rKRYYCA4v">Link</a></td>
            </tr>
            <tr>
                <td>Cannoneer</td>
                <td><a target="_blank" href="Infographics/Cannoneer.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/QxWvMvrcR6">Link</a></td>
            </tr>
            <tr>
                <td>Corsair</td>
                <td><a target="_blank" href="Infographics/Corsair.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1xmDcv2uF65cVIbLMHpJIGcd2NQGMbYaZZhwKTOaCsQg/edit#heading=h.1h9wbtfzr8eq">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/JWBXPGS9aY">Link</a></td>
            </tr>
            <tr>
                <td>Dark Knight</td>
                <td><a target="_blank" href="Infographics/Dark Knight.jpg">Link</a> </td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/N36cqyAVfa">Link</a></td>
            </tr>
            <tr>
                <td>Dawn Warrior</td>
                <td><a target="_blank" href="Infographics/Dawn Warrior.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1iQfiF7q78bmZtBujnLcAkDNDjqiHqm7iZ2QjUfKRd-g/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/WMGahCmmWT">Link</a></td>
            </tr>
            <tr>
                <td>Demon Avenger</td>
                <td><a target="_blank" href="Infographics/Demon Avenger.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/aTByagnDjd">Link</a></td>
            </tr>
            <tr>
                <td>Demon Slayer</td>
                <td><a target="_blank" href="Infographics/Demon Slayer.jpg">Link</a></td>
                <td><a target="_blank" href="https://dexless.com/guides/ellucidates-guide-to-demon-slayer.183/">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/XpJA3u8Scd">Link</a></td>
            </tr>
            <tr>
                <td>Dual Blade</td>
                <td><a target="_blank" href="Infographics/Dual Blade.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/2yqrcnT8Xk">Link</a></td>
            </tr>
            <tr>
                <td>Evan</td>
                <td><a target="_blank" href="Infographics/Evan.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/5BfVGGD">Link</a></td>
            </tr>
            <tr>
                <td>Fire/Poison</td>
                <td><a target="_blank" href="Infographics/Fire Poison.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1LkW-vMTSQDwJFe2B2SmVeKBeWRXlIK4l58M2IBtkPso/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/PX2v4BV3Qp">Link</a></td>
            </tr>
            <tr>
                <td>Hayato</td>
                <td><a target="_blank" href="Infographics/Hayato.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1P4mBaIAc-YgycrtemcaUmuo13YRkbA0FP-MbJb1fzIo/edit?tab=t.0#heading=h.vclvz2firi4r">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/EAkfmrx">Link</a></td>
            </tr>
            <tr>
                <td>Hero</td>
                <td><a target="_blank" href="Infographics/Hero.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/17Vvya26hUDxLu9Mi8ItOyuIQtjwgrg-3YSHAmOLQ_Wo/edit#heading=h.vjrs4mwkwuob">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/dsdSz9CGJE">Link</a></td>
            </tr>
            <tr>
                <td>Hoyoung</td>
                <td><a target="_blank" href="Infographics/Hoyoung.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/aWprrWUTAJ">Link</a></td>
            </tr>
            <tr>
                <td>Ice/Lightning</td>
                <td><a target="_blank" href="Infographics/Ice Lightning.jpg">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1fVI8tdEwBDigRD9HTcVIYtoFhm1ggXzsJMlIG_9_lAk/edit?tab=t.0#heading=h.3suj23hzbpjv">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/PX2v4BV3Qp">Link</a></td>
            </tr>
            <tr>
                <td>Illium</td>
                <td><a target="_blank" href="Infographics/Illium.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1BnkDIHr02taWGmr19C6y-pNUc1UgblK21-9RKmGZxXc/edit#heading=h.n4kuswt17w0e">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/KxJ3DGuBsf">Link</a></td>
            </tr>
            <tr>
                <td>Kain</td>
                <td><a target="_blank" href="Infographics/Kain.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1Vl-G1C_bWzDio13cSnROD3RA1EoeR4mMjv28g_UY4dY/edit?tab=t.0#heading=h.1h9wbtfzr8eq">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/Udtx9E9QYr">Link</a></td>
            </tr>
            <tr>
                <td>Kaiser</td>
                <td><a target="_blank" href="Infographics/Kaiser.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/12iH3vqAQCelM7QC2Kgm4qYQE4nUttGEKh2_r5k7R5Vw/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.com/invite/DGHZJ8s">Link</a></td>
            </tr>
            <tr>
                <td>Kanna</td>
                <td><a target="_blank" href="Infographics/Kanna.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1Xp7JD_YEDGyZD613QT7BGXO1kOtF2ze1E2hUDSkuxSc/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/zbH8e2xC7H">Link</a></td>
            </tr>
            <tr>
                <td>Khali</td>
                <td><a target="_blank" href="Infographics/Khali.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/an6dkrgXTr">Link</a></td>
            </tr>
            <tr>
                <td>Kinesis</td>
                <td><a target="_blank" href="Infographics/Kinesis.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/yua4VdQWFw">Link</a></td>
            </tr>
            <tr>
                <td>Lara</td>
                <td><a target="_blank" href="Infographics/Lara.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/g33kJR5yWH">Link</a></td>
            </tr>
            <tr>
                <td>Luminous</td>
                <td><a target="_blank" href="Infographics/Luminous.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/KBpPTtae6P">Link</a></td>
            </tr>
            <tr>
                <td>Lynn</td>
                <td><a target="_blank" href="Infographics/Lynn.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.com/invite/czcga75tHQ">Link</a></td>
            </tr>
            <tr>
                <td>Marksman</td>
                <td><a target="_blank" href="Infographics/Marksman.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/BYvnXkz9cv">Link</a></td>
            </tr>
            <tr>
                <td>Mercedes</td>
                <td><a target="_blank" href="Infographics/Mercedes.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1Sz5rdODR3cgaw3WcfjjVN_OBQV2298vc_kVyFOfdh_8/edit?usp=sharing">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/tJWfMrdFBJ">Link</a></td>
            </tr>
            <tr>
                <td>Mechanic</td>
                <td><a target="_blank" href="Infographics/Mechanic.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/JenpnsgHBc">Link</a></td>
            </tr>
            <tr>
                <td>Mihile</td>
                <td><a target="_blank" href="Infographics/Mihile.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1PQKPlHGbvqT7dftm2-jk9i8SiBLRkaY5E0DpE0unK5I/edit#heading=h.n4kuswt17w0e">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/6SPVvZRWJM">Link</a></td>
            </tr>
            <tr>
                <td>Mo Xuan</td>
                <td><a target="_blank" href="Infographics/Mo Xuan.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1ZhYf1f5c6MXkNaicqkIYMQegiUUYwo5vlxoNdeJcxKM/edit?tab=t.0">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/a3z6JYmHbt">Link</a></td>
            </tr>
            <tr>
                <td>Night Lord</td>
                <td><a target="_blank" href="Infographics/Night Lord.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/16GI6FLwcS3aunYHqXsOEuqQIZ3g5N8V3SHc--RyW8X8/edit?tab=t.0">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/AvP8wq4">Link</a></td>
            </tr>
            <tr>
                <td>Night Walker</td>
                <td><a target="_blank" href="Infographics/Night Walker.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/FR55ADj">Link</a></td>
            </tr>
            <tr>
                <td>Paladin</td>
                <td><a target="_blank" href="Infographics/Paladin.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1aAQV9QGR4UywDGhQq1O3X7blXADPGDMvgDIAKfCmrH8/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/7qyGfmtRt2">Link</a></td>
            </tr>
            <tr>
                <td>Pathfinder</td>
                <td><a target="_blank" href="Infographics/Pathfinder.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/e/2PACX-1vQAthq_f1FtuK1M6PRNsV1j9MMKJHK1LW7eMVhq4hAUfPYS0okmhJZ_oEsKHBJoYgpzkioA_uiBmrtA/pub#h.5mjils8go7x">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/4PgsVs8gNZ">Link</a></td>
            </tr>
            <tr>
                <td>Phantom</td>
                <td><a target="_blank" href="Infographics/Phantom.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/225H7sw">Link</a></td>
            </tr>
            <tr>
                <td>Shade</td>
                <td><a target="_blank" href="Infographics/Shade.png">Link</a></td>
                <td><a target="_blank" href="https://www.youtube.com/watch?v=mgXZU1ixFRw">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/G86EwxDbv6">Link</a></td>
            </tr>
            <tr>
                <td>Shadower</td>
                <td><a target="_blank" href="Infographics/Shadower.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1NKBCWe9a2P2RKo8jScEv5EjAj4hVWsBu-9DW9dZMTvI/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/3NKFYxR2T3">Link</a></td>
            </tr>
            <tr>
                <td>Sia Astelle</td>
                <td></td>
                <td></td>
                <td><a target="_blank" href="http://discord.gg/siaastelle">Link</a></td>
            </tr>
            <tr>
                <td>Thunder Breaker</td>
                <td><a target="_blank" href="Infographics/Thunder Breaker.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="http://discord.gg/ewyWwFQ">Link</a></td>
            </tr>
            <tr>
                <td>Wild Hunter</td>
                <td><a target="_blank" href="Infographics/Wild Hunter.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/3evaYBDwAG">Link</a></td>
            </tr>
            <tr>
                <td>Wind Archer</td>
                <td><a target="_blank" href="Infographics/Wind Archer.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1oqZegwzp5pzOArQ_NKYpoYZTxkV_8kq_3W_EQ8SzSDc/edit">Link</a></td>
                <td><a target="_blank" href="http://discord.gg/MDuDrDveum">Link</a></td>
            </tr>
            <tr>
                <td>Xenon</td>
                <td><a target="_blank" href="Infographics/Xenon.png">Link</a></td>
                <td></td>
                <td><a target="_blank" href="https://discord.gg/4BCGuCC">Link</a></td>
            </tr>
            <tr>
                <td>Zero</td>
                <td><a target="_blank" href="Infographics/Zero.png">Link</a></td>
                <td><a target="_blank" href="https://docs.google.com/document/d/1ygEhU_gZjm6tY8ngi0hzZ6ZduNoGuZqdcPsiMV1pdf8/edit">Link</a></td>
                <td><a target="_blank" href="https://discord.gg/wFAHprps3Z">Link</a></td>
            </tr>
        </table>
        <div class="header">Fashion</div>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Author</th>
                <th>Link</th>
            </tr>
            <tr>
                <td><b>Maplestory Character Simulator (New)</b></td>
                <td>A website to help you plan out your character's look.</td>
                <td></td>
                <td><a target="_blank" href="https://maplestory.studio/">Link</a></td>
            </tr>
            <tr>
                <td><b>Maplestory Character Simulator (Old)</b></td>
                <td>A website to help you plan out your character's look. Runs faster I think.</td>
                <td></td>
                <td><a target="_blank" href="https://maples.im/">Link</a></td>
            </tr>
            <tr>
                <td>Maplestory Hair/Face Mix Previewer</td>
                <td>A website to preview color combinations for mix coupons.</td>
                <td>丫村</td>
                <td><a target="_blank" href="https://maplesalon.vercel.app/en">Link</a></td>
            </tr>
            <tr>
                <td>Damage Skins</td>
                <td>A website to preview damage skins</td>
                <td>Whackybeanz</td>
                <td><a target="_blank" href="https://whackybeanz.com/info/damage-skins/new">Link</a></td>
            </tr>
        </table>
    </div>
</div>