<div class="maplestory-page-container">
    <div id="menu">
        <div id="instructions">
            The numbers next to the checkboxes represents the number of people in the party.
        </div>
        <div class="add button" (click)="addColumn()">Add empty character</div>
        <div class="add button" (click)="addColumn('cra')">Add CRA mule</div>
        <div class="add button" (click)="addColumn('akechi')">Add Akechi/CPap mule</div>
        <div class="add button" (click)="addColumn('nlomien')">Add NLomien mule</div>
        <div class="add button" (click)="addColumn('ctene')">Add CTene mule</div>
    </div>
    <div id="table">
        <div>
            <div class="cell boss-header vertical-align">
                Boss
            </div>
            <div class="cell boss-row vertical-align" *ngFor="let boss of bosses; let i=index" [ngClass]="{ 'row-darken': boss.darken }">
                {{boss.name}}
            </div>
        </div>
        <div>
            <div class="cell meso-header vertical-align">
                Mesos
            </div>
            <div class="cell meso-row vertical-align" *ngFor="let boss of bosses; let i=index" [ngClass]="{ 'row-darken': boss.darken }">
                {{numberWithCommas(boss.meso)}}
            </div>
        </div>
        <form [formGroup]="bossForm">
            <div formArrayName="columns" *ngFor="let character of columns.controls; let i = index">
                <ng-container [formGroupName]="i">
                    <div class="cell character-header vertical-align">
                        <input type="text" class="character-input" placeholder="Name" formControlName="character" maxlength="12">
                        <div class="hover-menu">
                            <div class="clone button" (click)="clone(i)">Clone</div>
                            <div class="delete button" (click)="delete(i)">Delete</div>
                        </div>
                    </div>
                    <div formArrayName="character_bosses" *ngFor="let boss of character.get('character_bosses')['controls']; let j = index">
                        <div class="cell character-row vertical-align" [formGroupName]="j" [ngClass]="{ 'row-darken-right': boss.value.darken }">
                            <input type="checkbox" formControlName="checked">
                            <input type="number" formControlName="party_size" min="1" max="6" class="party_size" (focusout)="partyFix($event)">
                            <div class="speech-bubble">
                                {{getSplitMesos(boss)}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </form>
    </div>
    <div id="results">
        <div id="income-header">Weekly Income</div>
        <div id="bossing-header">Bossing</div>
        <div *ngFor="let character of columns.controls; let i = index" class="results-character">
            {{(character.get('character').value ? character.get('character').value : 'Unnamed character (column ' + (i+1) + ')') + ': ' + calculateIncome(i)}}
        </div>
        <div id="total-header">Total: {{calculateTotalIncome()}}</div>
    </div>
</div>