#menu, #results {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
}

#table {
    display: flex;
}

#menu, #table {
    margin-bottom: 40px;
}

#instructions {
    flex: 0 0 100%;
    margin-bottom: 10px;
}

.cell {
    padding-left: 10px;
    height: 30px;
    box-sizing: border-box;
    margin-right: 1px;
    margin-bottom: 1px;
    position: relative;
}

form {
    display: flex;
}

.boss-header, .meso-header {
    background-color: var(--table-header-background-dark);
    color: var(--white);
}

.boss-row, .meso-row {
    background-color: var(--table-row-background-dark);
    color: var(--maplestory-dark-font);
}

.boss-header, .boss-row {
    width: 100px;
}

.meso-header, .meso-row {
    width: 130px;
}

.character-header, .character-row {
    width: 110px;
}

.character-input {
    width: 90px;
    padding-left: 5px;
    box-sizing: border-box;
    outline: none;
    color: var(--maplestory-dark-font);
}

.character-header {
    background-color: var(--table-header-background-light);
    position: relative;
}

.character-row {
    background-color: var(--table-row-background-light);
}

.party_size {
    box-sizing: border-box;
    outline: none;
    color: var(--maplestory-dark-font);
    width: 50px;
    margin-left: 10px;
    padding-left: 10px;
}

.hover-menu {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 100%;
    box-sizing: border-box;
}

.character-header:hover .hover-menu {
    display: flex;
    justify-content: space-between;
}

.clone {
    background-color: var(--maplestory-add-color);
}

.clone:hover {
    background-color: var(--maplestory-add-hover-color);
}

.delete {
    background-color: var(--maplestory-delete-color);
}

.delete:hover {
    background-color: var(--maplestory-delete-hover-color);
}

.button {
    font-size: 0.8rem;
    height: 25px;
    width: 50px;
    color: var(--white);
}

.add {
    background-color: var(--maplestory-add-color);
    width: auto;
    height: 30px;
    font-size: 1rem;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
}

.add:hover {
    background-color: var(--maplestory-add-hover-color);
}

#income-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5px;
}

#bossing-header {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.results-character {
    font-size: 1rem;
}

.speech-bubble {
    position: absolute;
    top: -10px;
    left: calc(100% - 10px);
    background-color: var(--white);
    white-space: nowrap;
    padding: 5px;
    border: 1px solid var(--table-header-background-dark);
    display: none;
    z-index: 100;
}

.cell:hover .speech-bubble {
    display: flex;
    pointer-events: none;
}

#total-header {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: var(--maplestory-blue);
    display: inline-block;
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 20px;
}

input[disabled] {
    filter: brightness(0.6);
}

.row-darken {
    background-color: var(--table-row-background-dark-alternate);
}

.row-darken-right {
    background-color: var(--table-row-background-light-alternate);
}