.side-nav-item {
    width: 100%;
    color: var(--white);
    font-size: 1rem;
    font-family: 'League Spartan';
    background-color: var(--maplestory-nav-unselected);
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 1px;
    cursor: pointer;
    user-select: none;
}

.side-nav-item:hover {
    background-color: var(--maplestory-nav-hover);
}

.selected {
    background-color: var(--maplestory-nav-selected);
}