.side-nav-item {
    width: 100%;
    color: var(--white);
    font-size: 1rem;
    padding: 14px;
    box-sizing: border-box;
    background-color: var(--maplestory-nav-button-dark);
    margin-bottom: 1px;
    cursor: pointer;
    user-select: none;
}

.side-nav-item:hover {
    background-color: var(--maplestory-nav-button-light);
}

.selected {
    padding-left: 25px;
    background-color: var(--maplestory-nav-button-light);
}

@media (width <= 800px) {
    .side-nav-item {
        border-radius: 5px;
        padding: 5px 10px;
        box-sizing: border-box;
    }
    
    .selected {
        background-color: var(--maplestory-nav-button-light);
        font-weight: bold;
    }
}